<!DOCTYPE html>
<html>
    <head>
        <title>Moysèés</title>
    </head>

    <body>
        {% if user.is_authenticated %}
       		<h1>Prioritize Products to {{ user.get_username }}</h2>
       	{% else %}
       		<h1>Please, log in.</h1> 
  		{% endif %}

		{% if products %}
		<form id="insert_form" method="post" action="/classification/insert_priority_list/">
			{% csrf_token %}
		    {% for product in products %}
		    	{% if product.id in checked_list %}
		        	<input type="checkbox" checked name="product" value="{{ product.id }}">{{ product.name }}<br />
		        {% else %}
		        	<input type="checkbox" name="product" value="{{ product.id }}">{{ product.name }}<br />
		        {% endif %}
		    {% endfor %}
		    <br />

			<div class="pagination">
			    <span class="step-links">
			        {% if products.has_previous %}
			        	<input type="submit" name="page" value="prev"/>
			        	<input type="hidden" name="prev" value="{{ products.previous_page_number }}"/>
			        {% endif %}
			
			        <span class="current">
			            Page {{ products.number }} of {{ products.paginator.num_pages }}.
			        </span>
			
			        {% if products.has_next %}
			        	<input type="submit" name="page" value="next"/>
			        	<input type="hidden" name="next" value="{{ products.next_page_number }}"/>
			        {% endif %}
			    </span>
			</div>
			<br />
			<input type="submit" name="action" value="submit"/>
			
		</form> 
		{% else %}
		    <p>No products are available.</p>
		{% endif %}
		
	</body>
</html>