<!DOCTYPE html>
<html>
    <head>
        <title>Moysèés</title>
    </head>

    <body>
        <h1>Login to Moysèés</h1>

        <form id="login_form" method="post" action="/classification/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br /><br />
            Password: <input type="password" name="password" value="" size="50" />
            <br /><br />

            <input type="submit" value="submit" />
        </form>

    </body>
</html>