<!DOCTYPE html>
<html>
    <head>
        <title>Moysèés</title>
    </head>

    <body>
    	<h1>Moysèés Classification</h1>
    	{% if user.is_authenticated %}
       		<h2>Welcome, {{ user.get_username }}!</h2>
       	{% else %}
       		<h2>Please, log in.</h2> 
  		{% endif %}
        <a href="/classification/logout">Logout</a><br><br>
        <a href="/classification/product_list">Product List</a><br /><br />
        <a href="/classification/user_priority_list">My Priority List</a><br /><br />      
        <form id="catch_form" method="post" action="/classification/insert_priority_list/">
        	{% csrf_token %}
            Products to Classify: <input type="text" name="num_items" value="100" size="10" />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>