<!DOCTYPE html>
<html>
    <head>
        <title>Moysèés</title>
    </head>

    <body>      
        {% if user.is_authenticated %}
       		<h1>Priority List by {{ user.get_username }}</h2>
       	{% else %}
       		<h1>Please, log in.</h1> 
  		{% endif %}
        
        {% for product in products %}    	
    		{{ product.product.name }}<br />
    	{% endfor %}
    	
    	<br />

		<div class="pagination">
		    <span class="step-links">
		        {% if products.has_previous %}
		            <a href="?page={{ products.previous_page_number }}">previous</a>
		        {% endif %}
		
		        <span class="current">
		            Page {{ products.number }} of {{ products.paginator.num_pages }}.
		        </span>
		
		        {% if products.has_next %}
		            <a href="?page={{ products.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>
 	</body>
</html>